<html>
<head>
    <meta charset="UTF-8">
    <title>Exam Detection Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1 class="page-title">Exam Leak Detection & Transparency Platform </h1>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('form') }}">Form</a>
        <a href="{{ url_for('report') }}">Report</a>
    </nav>
    
    <hr>
    
    
    {% block content %}
    {% endblock %}
    
</body>
</html>